/**
 * @name Remove Buttons Fork
 * @version 1.1.2
 * @author Yosho
 * @authorId 206081832289042432
 * @description Remove redundant buttons from the Discord chatbar.
 * @source https://gist.github.com/cheesits456/41d659f932b5a574b5dfb9b391a4506e
*/

/* Hide Nitro gift button */
[aria-label="Send a gift"] {
    display: none;
    width: 0px;
}
/* Hide GIF picker button */
div[class^=expression-picker]:has(>[aria-label="Open GIF picker"]) {
    display: none;
    width: 0px;
}
/* Hide sticker picker button */
div[class^=expression-picker]:has(>[aria-label="Open sticker picker"]) {
    display: none;
    width: 0px;
}
/* Remove spacing between buttons */
.container_c0c49a, .iconContainer_c0c49a {
    display: none;
}
/* Hide App button */
div[class^="channelAppLauncher"] {
    display: none !important;
}