/* Hide Nitro gift button */
div:has(>[aria-label="Send a gift"]) {
    display: none;
    width: 0px;
}
/* Hide GIF picker button */
div:has(>[aria-label="Open GIF picker"]) {
    display: none;
    width: 0px;
}
/* Hide sticker picker button */
div:has(>[aria-label="Open sticker picker"]) {
    display: none;
    width: 0px;
}
/* Hide App button */
div[class*="channelTextArea"] div[class*="app-launcher"] {
    display: none !important;
}
