/* Hide Nitro gift button */
[aria-label="Send a gift"] {
    display: none;
    width: 0px;
}
/* Hide GIF picker button */
div[class^=expression-picker]:has(>[aria-label="Open GIF picker"]) {
    display: none;
    width: 0px;
}
/* Hide sticker picker button */
div[class^=expression-picker]:has(>[aria-label="Open sticker picker"]) {
    display: none;
    width: 0px;
}
/* Remove spacing between buttons */
.container_c0c49a, .iconContainer_c0c49a {
    display: none;
}
/* Hide App button */
div[class^="channelTextArea"] div[class*="app-launcher"] {
    display: none !important;
}